/**
* @name TACTICAL VALORANT
* @author Casual
* @version 1.0
* @source https://github.com/GoldenLys/BetterDiscord-Elysia
* @website https://goldenlys.github.io/ThemeGen
* @authorLink https://github.com/GoldenLys
*/

@import url("https://himu-nahid.github.io/tectical-valorant/aerobase.css");
/* DO NOT REMOVE THIS LINE */

@import url("https://himu-nahid.github.io/tectical-valorant/RGB/2.css");
/* DO NOT REMOVE THIS LINE */

/*  PLUGINS (optional)  */

@import url("https://fonts.googleapis.com/css?family=Quicksand&amp;display=swap");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HoverMemberList.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/NoOffline.css");
@import url("https://goldenlys.github.io/BetterDiscord-Elysia/HorizontalServerList.css");
/*  GENERAL CONFIG  */

:root {
	--title: "TACTICAL VALORANT";
	--font: "Quicksand", sans-serif;
	--logo: url("https://goldenlys.github.io/ThemeGen/img/ELYSIA.gif");
	--background: url("https://user-images.githubusercontent.com/84941662/119917527-8d2e2080-bf88-11eb-96ce-08bd1a3aa85f.jpg");
	--C1: rgb(130, 0, 216);
	--C2: rgb(0 0 0);
	--C3: rgb(0 0 0);
	--C4: rgb(0 0 0);
	--C5: rgb(0 0 0);
	--C6: rgb(0 0 0);
	--C7: rgb(0 0 0);
	--C8: rgb(0 0 0);
	--time: 5s;
	--ServerSize: 45px;
	--ServerColumns: 1;

	/*  STATUSES  */
	--Online: rgb(108, 71, 202);
	--Idle: rgb(196, 234, 154);
	--Unavailable: rgb(17, 27, 39);
	--Offline: rgb(90, 95, 100);
	--StreamingColor: rgb(78, 0, 180);

	/*  PROFILE HEADERS (you can also use "url(LINKtoIMAGE)" for the profile headers)  */
	--Playing: url("https://goldenlys.github.io/ThemeGen/img/playing.jpg");
	--Xbox: url("https://goldenlys.github.io/ThemeGen/img/xbox.jpg");
	--Spotify: url("https://goldenlys.github.io/ThemeGen/img/spotify.jpg");
	--Streaming: url("https://goldenlys.github.io/ThemeGen/img/twitch.jpg");

	/*  MENUS COLORS  */
	--grey: rgb(77, 70, 85);
	--grey5: rgba(77, 70, 85, .5);
	--darkgrey: rgb(18, 18, 18);
	--darkgrey5: rgba(18, 18, 18, .75);
	--TitleBG: var(--darkgrey5);
	--ChatBox: var(--darkgrey5);
	--Sidebar: var(--darkgrey5);
	--SendMessage: var(--darkgrey);
	--HoverMessage: var(--darkgrey5);
	--Highlighted: var(--grey5);
	--ActiveBox: rgb(235 235 235);
	
	/* CUSTOM TEXTS */
	--JoinUs: "Hey! Wanna have some fun.. Join US !";
	--AddNewServer: "➕ Add a new server";
	--ProfilePic: "Watch me";
	--Close: "🔴";
	--Resize: "➕";
	--Hide: "➖";
	--Unread: "✨";
	--Options: "⚙️";
	--Emoji: "🙂";
	--EmojiHover: "😜";
	--Channel: "💬";
	--Voice: "🔊";
	--Announcement: "📣";
	--Stage: "📺";
	--Community: "purpies";
	--Watermark: "Made with 💖 by Purple Wizard";
	--EditStatus: "Put another status";
	--Folders: "📁";
	--FoldersOpen: "💠";
	--Micro: "🎙️";
	--Headset: "🎧";
	--WriteMessage: 'Write a message...';
	--TaggedName: 'YOU';
	--ListenAlong: 'Listen Along';
}